<%= form_with url: "create", local: true, method: "post" do |form| %>
	<p>City Name: <%= form.text_field :name %></p>
    <p>Landmark: <%= form.text_field :landmark %></p>
    <p>Population: <%= form.text_field :population %></p>
	<%= form.submit "Submit" %>
<% end %>
